.trendingheroslider {
    height: 95vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #000;

    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
}


.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity 3s ease-in-out;
    pointer-events: none;
    z-index: 1; 
}

.fade-in {
    opacity: 1;
    z-index: 2;
    transition: opacity 3s ease-in-out;
  }
  
  
  .fade-out {
    opacity: 0;
    z-index: 1;
    transition: opacity 3s ease-in-out;
  }


.trendingheroslider img {
    height: 100%;
    width: auto;
}

.trendingherosliderdata {
    position: relative;
    left: 0;
    top: 0;
    overflow: hidden;
}

.trendingherosliderdata {
    position: relative;
    z-index: 2; 
    left: 0;
    top: 0;
    color: white;
    /* background-color: rgba(0,0,0,0.1); */
    margin-top: 7rem;
    padding: 3rem;
    border-radius: 8px;
    width: 30%;
    height: 100%;
    text-align: left;
    font-family: 'Poppins', 'Inter', sans-serif;
    /* font-size: small; */
}


.genretag {
    background-color: rgba(0, 85, 254, 0.494);
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 5px;
    font-size: 14px;
    opacity: 1;
  }



.herosliderimages img {
    -webkit-mask-image: 
        linear-gradient(to left, black 30%, transparent 80%),
        linear-gradient(to bottom, black 50%, transparent 100%);
    -webkit-mask-composite: destination-in;
    mask-image: 
        linear-gradient(to left, black 30%, transparent 100%),
        linear-gradient(to bottom, black 30%, transparent 100%);
    mask-composite: intersect;

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}
