#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  height: 100%;
}

body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
}


