.animecard {
    position: relative;
    width: 14rem;
    /* border-radius: 8px; */
    overflow: hidden;
    /* box-shadow: 0 4px 8px rgba(0, 33, 199, 0.451); */
    margin: 10px;
    transition: transform 0.3s ease;
    background-color: #fbfbfb;
}

.animecard:hover {
    transform: scale(1.05);
}

.animeimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.animecard:hover .animeimage {
    opacity: 0.6 ease;
}

.animeoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    transition: opacity 0.3s ease;
}

.animecard:hover .animeoverlay {
    opacity: 1;
}

.animeinfo {
    position: absolute;
    bottom: 0;
}

.animesynopsis {
    font-size: xx-small;
    margin-bottom: 4px;
}

.animerate {
    font-size: 10px;
    color: #ccc;
}

.animetitle {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
    .animecard {
        width: 45%;
    }
    
}

@media screen and (max-width: 480px) {
    .animecard {
        width: 80%;
    }
}
